.azul-trello{
	background-color: #0079BF;
}
.opacity{
	opacity: 0.5;
}
.white{
	color: white;
}
.bg-gris{
	background-color: gainsboro;
}
.gris-trello{
	background-color: #E2E4E6;
}
.tamañotarjetas{
	width: 25%;
}
.inline{
	display: inline-block;
}
//