.azul-trello{
	background-color: #0079BF;
}
.opacity{
	opacity: 0.5;
}
.white{
	color: white;
}
.bg-gris{
	background-color: gainsboro;
}
.btnAñadirLista{
	background-color: aquamarine;
}
.tamañotarjetas{
	width: 25%;
	float: left;
	margin: 1%;
}
.inline{
	display: inline-block;
}
.
//